Registration Testing - Passed
Login Testing - Passed
Add Task - Passed
Edit Task - Passed
Delete Task - Passed
MongoDB Integration - Passed
Logout - Passed